# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Dungeon Generation Prototype.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dominik\Documents\UnityProjects\Dungeon Generation Prototype\.idea\.idea.Dungeon Generation Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
